<div class="registerdiv">
    <form action="/users/register" method="POST">
    <div>
        <label>
            <input type="text" name="first_name" placeholder="First Name" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="last_name" placeholder="Last Name" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="username" placeholder="Username" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="text" name="email" placeholder="Email" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <input type="password" name="password" placeholder="Password" class="register"><br>
        </label>
    </div>
    <div>
        <label>
            <div class="buttons">
                <button class="registerButton button is-primary">Register</button>
              </div>
        </label>
    </form>
    </div>
</div>